@inject IJSRuntime JS
@implements IAsyncDisposable

<div @ref="_container" style="width:100%; height:@(H)px; z-index:1;"></div>

@code {
    [Parameter] public int H { get; set; } = 300;

    private ElementReference _container;
    private readonly string _id = Guid.NewGuid().ToString("N");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("mapInterop.initMap", _container, _id);
    }

    public async Task PanToUserAsync() =>
        await JS.InvokeVoidAsync("mapInterop.panToUser", _id);

    public async Task PanToAsync(double lat, double lng) =>
        await JS.InvokeVoidAsync("mapInterop.panTo", _id, lat, lng);

    public async Task<(double Lat, double Lng)?> GetCenterAsync()
    {
        var arr = await JS.InvokeAsync<double[]?>("mapInterop.getCenter", _id);
        return arr is { Length: 2 } ? (arr[0], arr[1]) : null;
    }

    public async Task ZoomInAsync() =>
        await JS.InvokeVoidAsync("mapInterop.zoomIn", _id);

    public async Task ZoomOutAsync() =>
        await JS.InvokeVoidAsync("mapInterop.zoomOut", _id);

    public async ValueTask DisposeAsync() =>
        await JS.InvokeVoidAsync("mapInterop.destroy", _id);
}
